/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
{
	padding-top: 60px;
	padding-bottom: 40px;
}

#github_ribbons
{
	 position: absolute; 
	 top: 0; 
	 right: 0; 
	 border: 0;
	 z-index: 1050;
}

#content_area
{
	width: 511px;
	padding-left: 10px;
	padding-right: 10px;
}

#home_stream
{
	min-height: 100px;
}

#sign_up
{
	width: 300px;
	position: relative;
	float: right;
	margin-top: 100px;
	padding: 50px;
	text-align: left;
}

#musicfeed
{
}
#이연희
{
	padding: 50px;
	width: 350px;
}

.streamMusic
{
	margin-left: -18px;
	padding-left: 18px;
}

.musicContent
{
	padding-bottom: 2px;
}

.userPicture
{
	margin-top:	18px;
	margin-bottom: 16px;
	width: 50px;
	height: 50px;
	float: left;
}

.musicInnerContent
{
	margin-left: 60px;
}

.mainWrapper
{
	margin-right: 35px;
	margin-bottom: 16px;
	padding-top: 18px;
}

.userName
{
	padding-bottom: 4px;
}

.albumTitle
{
	margin-bottom: 5px;
}

.mainStreamAttachment
{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #f7f7f7;
}

.sharedMusic
{
	width: 398px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.albumPicture
{
	position: relative;
	float: left;
	height: 90px;
	width: 90px;
}

.albumDescription
{
	padding: 10px;
	min-height: 72px;
	overflow: hidden;
}

.attachText
{
	max-height: 72px;
	overflow: hidden;
}

ul 
{
	list-style-type: none;
}

li 
{
	display: list-item;
	border-style: solid;
	border-color: #e0e0e0;
	border-width: 1px 0 0 0;
	text-align: -webkit-match-parent;
}














